Package: com.uroboro.openjailbreaktools
Name: Openjailbreak Tools
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: CLI tools to aid fuzzing
Maintainer: uroboro<uroboro.845@gmail.com>
Author: uroboro<uroboro.845@gmail.com>
Section: Development
Tag: role::hacker
