Package: com.uroboro.tools
Name: Uroboro's tools
Depends: 
Version: 0.0.7-1
Architecture: iphoneos-arm
Description: CLI tools to aid jailbreak development (hexdiff)
Maintainer: uroboro<uroboro.845@gmail.com>
Author: uroboro<uroboro.845@gmail.com>
Section: Development
Tag: role::hacker
